## Operaciones numericas

### objetivo 

- mostrar como utilizar los operadores aridmeticos

## Desarollo

Primero vamos a asicnar un as variables

In [1]:
var_1 = 4
var_2 = 54
var_3 = 23
var_4 = 89

In [6]:
print( var_1 , var_2 , var_3 , var_4)

print("Imprimir las Variables", var_1, var_2, var_3, var_4, sep=" | ")

print('el valor de la variable var_1 es:', var_1, '\nel valor de la variable var_2 es:', var_2  )

4 54 23 89
Imprimir las Variables | 4 | 54 | 23 | 89
el valor de la variable var_1 es: 4
el valor de la variable var_2 es: 54

### Operadores numericos

---
| Operador | Nombre                  | Descripción                                 | Ejemplo        | Resultado |
|----------|-------------------------|---------------------------------------------|----------------|-----------|
| `+`      | Suma                    | Suma de dos operandos                        | `5 + 3`        | `8`       |
| `-`      | Resta                   | Resta del segundo operando al primero        | `5 - 3`        | `2`       |
| `*`      | Multiplicación          | Producto de dos operandos                    | `5 * 3`        | `15`      |
| `/`      | División                | División del primero entre el segundo       | `5 / 2`        | `2.5`     |
| `//`     | División entera         | División y redondeo hacia abajo             | `5 // 2`       | `2`       |
| `%`      | Módulo (residuo)        | Residuo de la división                      | `5 % 2`        | `1`       |
| `**`     | Exponente               | Potencia del primer operando al segundo     | `2 ** 3`       | `8`       |

In [7]:
var_1 + var_2

58

In [8]:
var_2 - var_3

31

In [9]:
var_3 * var_4

2047

In [10]:
var_4 / var_2

1.6481481481481481

In [11]:
var_4 // var_2

1

In [12]:
1/2

0.5

In [13]:
1//2

0

In [17]:
print('esto es una potencia de exponentes de', var_2, 'elevado a', var_1, 'es:') 
var_2 ** var_1

esto es una potencia de exponentes de 54 elevado a 4 es:

8503056

## Tipos de dartos

### objetivos
    - Hablar sobre los 4 tipos de datosbasicos de python

## objetivo

se tinen 4 tipos de datos bacicos, Veamos  en codigo y utilicemos las funciones `print` y `type`

In [19]:
# este es un mumero

var_int = 4598
print('este es un numero entero:', var_int)
print(type(var_int))
print('\n')

# este es un numero decimal
var_float = 4598.45
print('este es un numero decimal:', var_float)
print(type(var_float))
print('\n')

# este es un numero string
var_string = '4598.45'
print('este es un numero string:', var_string) 
print(type(var_string))
print('\n')

# este es un numero boolean
var_boolean = True
print('este es un numero boolean:', var_boolean)
print(type(var_boolean))
print('\n')

este es un numero entero: 4598
<class 'int'>


este es un numero decimal: 4598.45
<class 'float'>


este es un numero string: 4598.45
<class 'str'>


este es un numero boolean: True
<class 'bool'>