In [ ]:
import pandas as pd
import numpy as np

In [4]:
# COMPROBAR SI FUNCIONA PANDAS O NO
datos = {
    'Nombre': ['Ana', 'Luis', 'Pedro'],
    'Edad': [23, 34, 45],
}
df = pd.DataFrame(datos)
print(df)

  Nombre  Edad
0    Ana    23
1   Luis    34
2  Pedro    45

In [2]:
# crea una lista
edad = [23, 34, 45]

In [9]:
# convertirla a serie
serie = pd.Series(edad)  # Ahora funcionarÃ¡
print(serie)

0    23
1    34
2    45
dtype: int64

In [10]:
#cambiar indices
serie = pd.Series(edad, index=['a', 'b', 'c'])

In [11]:
# mostrar la serie
serie

a    23
b    34
c    45
dtype: int64

In [13]:
serie [1]

C:\Users\alina\AppData\Local\Temp\ipykernel_19408\759407398.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  serie [1]

np.int64(34)

> ## Ejemplo 2

In [19]:
naranjas = pd.Series([1,4,9,2,6,10,200])
print(naranjas)

0      1
1      4
2      9
3      2
4      6
5     10
6    200
dtype: int64

In [20]:
type(naranjas)

pandas.core.series.Series

In [21]:
naranjas = pd.Series([1,4,9,2,6,10,200], index=['a', 'b', 'c', 'd', 'e', 'f', 'g'])
print(naranjas)

a      1
b      4
c      9
d      2
e      6
f     10
g    200
dtype: int64