## Trasformacion de DataFrame
---
ispeccion de dataFreame

In [5]:
# iporta la libreria pandas
import pandas as pd

In [6]:
homelessness = pd.read_csv('./datasets/homelessness.csv', index_col=0)

In [5]:
homelessness.head()

               region       state  individuals  family_members  state_pop
0  East South Central     Alabama       2570.0           864.0    4887681
1             Pacific      Alaska       1434.0           582.0     735139
2            Mountain     Arizona       7259.0          2606.0    7158024
3  West South Central    Arkansas       2280.0           432.0    3009733
4             Pacific  California     109008.0         20964.0   39461588

In [6]:
# imprimir informacion hcerca de homelessness
print(homelessness.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   region          51 non-null     object
 1   state           51 non-null     object
 2   individuals     51 non-null     float64
 3   family_members  51 non-null     float64
 4   state_pop       51 non-null     int64
dtypes: float64(2), int64(1), object(2)
memory usage: 2.4+ KB
None

In [7]:
# inprimir el tama√±o del dataframe
print(homelessness.shape)

(51, 5)

In [8]:
# inprimir la vicion de homelessness
print(homelessness.describe())

         individuals  family_members     state_pop
count      51.000000       51.000000  5.100000e+01
mean     7225.784314     3504.882353  6.405637e+06
std     15991.025083     7805.411811  7.327258e+06
min       434.000000       75.000000  5.776010e+05
25%      1446.500000      592.000000  1.777414e+06
50%      3082.000000     1482.000000  4.461153e+06
75%      6781.500000     3196.000000  7.340946e+06
max    109008.000000    52070.000000  3.946159e+07

### Partes de un dataFrame

In [9]:
# imprimir los valores del dataFRame
print(homelessness.values)

[['East South Central' 'Alabama' 2570.0 864.0 4887681]
 ['Pacific' 'Alaska' 1434.0 582.0 735139]
 ['Mountain' 'Arizona' 7259.0 2606.0 7158024]
 ['West South Central' 'Arkansas' 2280.0 432.0 3009733]
 ['Pacific' 'California' 109008.0 20964.0 39461588]
 ['Mountain' 'Colorado' 7607.0 3250.0 5691287]
 ['New England' 'Connecticut' 2280.0 1696.0 3571520]
 ['South Atlantic' 'Delaware' 708.0 374.0 965479]
 ['South Atlantic' 'District of Columbia' 3770.0 3134.0 701547]
 ['South Atlantic' 'Florida' 21443.0 9587.0 21244317]
 ['South Atlantic' 'Georgia' 6943.0 2556.0 10511131]
 ['Pacific' 'Hawaii' 4131.0 2399.0 1420593]
 ['Mountain' 'Idaho' 1297.0 715.0 1750536]
 ['East North Central' 'Illinois' 6752.0 3891.0 12723071]
 ['East North Central' 'Indiana' 3776.0 1482.0 6695497]
 ['West North Central' 'Iowa' 1711.0 1038.0 3148618]
 ['West North Central' 'Kansas' 1443.0 773.0 2911359]
 ['East South Central' 'Kentucky' 2735.0 953.0 4461153]
 ['West South Central' 'Louisiana' 2540.0 519.0 4659690]
 ['New England' 'Maine' 1450.0 1066.0 1339057]
 ['South Atlantic' 'Maryland' 4914.0 2230.0 6035802]
 ['New England' 'Massachusetts' 6811.0 13257.0 6882635]
 ['East North Central' 'Michigan' 5209.0 3142.0 9984072]
 ['West North Central' 'Minnesota' 3993.0 3250.0 5606249]
 ['East South Central' 'Mississippi' 1024.0 328.0 2981020]
 ['West North Central' 'Missouri' 3776.0 2107.0 6121623]
 ['Mountain' 'Montana' 983.0 422.0 1060665]
 ['West North Central' 'Nebraska' 1745.0 676.0 1925614]
 ['Mountain' 'Nevada' 7058.0 486.0 3027341]
 ['New England' 'New Hampshire' 835.0 615.0 1353465]
 ['Mid-Atlantic' 'New Jersey' 6048.0 3350.0 8886025]
 ['Mountain' 'New Mexico' 1949.0 602.0 2092741]
 ['Mid-Atlantic' 'New York' 39827.0 52070.0 19530351]
 ['South Atlantic' 'North Carolina' 6451.0 2817.0 10381615]
 ['West North Central' 'North Dakota' 467.0 75.0 758080]
 ['East North Central' 'Ohio' 6929.0 3320.0 11676341]
 ['West South Central' 'Oklahoma' 2823.0 1048.0 3940235]
 ['Pacific' 'Oregon' 11139.0 3337.0 4181886]
 ['Mid-Atlantic' 'Pennsylvania' 8163.0 5349.0 12800922]
 ['New England' 'Rhode Island' 747.0 354.0 1058287]
 ['South Atlantic' 'South Carolina' 3082.0 851.0 5084156]
 ['West North Central' 'South Dakota' 836.0 323.0 878698]
 ['East South Central' 'Tennessee' 6139.0 1744.0 6771631]
 ['West South Central' 'Texas' 19199.0 6111.0 28628666]
 ['Mountain' 'Utah' 1904.0 972.0 3153550]
 ['New England' 'Vermont' 780.0 511.0 624358]
 ['South Atlantic' 'Virginia' 3928.0 2047.0 8501286]
 ['Pacific' 'Washington' 16424.0 5880.0 7523869]
 ['South Atlantic' 'West Virginia' 1021.0 222.0 1804291]
 ['East North Central' 'Wisconsin' 2740.0 2167.0 5807406]
 ['Mountain' 'Wyoming' 434.0 205.0 577601]]

In [11]:
# inprimir los indices  de las coolumnas del dataframe
print(homelessness.columns)

Index(['region', 'state', 'individuals', 'family_members', 'state_pop'], dtype='object')

In [12]:
# imprimir los indices de las filas del dataframe
print(homelessness.index)

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
            34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49,
            50],
           dtype='int64')

### Ordenar filas 
| oerdenar en...  | Sintaxis
|-----------------|-------------------------|
|una columna      |`df.sort_values("bread")`|
|varias columnas  |`df.sort_values(['bread','weight_kg'])` |

1. Ordenar `homelessness` poe el numero de personas sin hogar de la columna individuals de menor a mayor 
2. Ordena el homelessness poe el numero de personas sin hogar `family_members` en orden desecendente y guarda el resultado en `homelessness_fam`
3. Ordena homelessness por region (ascendente) y luego por numero de nimbros de la familia (descendente). guarda el resultado en `homelessness_reg_fam`

In [ ]:
# 1
homelessness_ind = homelessness.sort_values('individuals')
print(homelessness_ind.head(10))

                region          state  individuals  family_members  state_pop
50            Mountain        Wyoming        434.0           205.0     577601
34  West North Central   North Dakota        467.0            75.0     758080
7       South Atlantic       Delaware        708.0           374.0     965479
39         New England   Rhode Island        747.0           354.0    1058287
45         New England        Vermont        780.0           511.0     624358
29         New England  New Hampshire        835.0           615.0    1353465
41  West North Central   South Dakota        836.0           323.0     878698
26            Mountain        Montana        983.0           422.0    1060665
48      South Atlantic  West Virginia       1021.0           222.0    1804291
24  East South Central    Mississippi       1024.0           328.0    2981020

In [18]:
#2
# ordena el homelessness por family_members en orden desecendente  
homelessness_fam = homelessness.sort_values('family_members', ascending=False)
print(homelessness_fam.head(10))

                region          state  individuals  family_members  state_pop
32        Mid-Atlantic       New York      39827.0         52070.0   19530351
4              Pacific     California     109008.0         20964.0   39461588
21         New England  Massachusetts       6811.0         13257.0    6882635
9       South Atlantic        Florida      21443.0          9587.0   21244317
43  West South Central          Texas      19199.0          6111.0   28628666
47             Pacific     Washington      16424.0          5880.0    7523869
38        Mid-Atlantic   Pennsylvania       8163.0          5349.0   12800922
13  East North Central       Illinois       6752.0          3891.0   12723071
30        Mid-Atlantic     New Jersey       6048.0          3350.0    8886025
37             Pacific         Oregon      11139.0          3337.0    4181886

In [19]:
#3
homelessness_reg_fam = homelessness.sort_values(['region', 'family_members'], ascending=[True, False])
print(homelessness_reg_fam.head(20))

                region         state  individuals  family_members  state_pop
13  East North Central      Illinois       6752.0          3891.0   12723071
35  East North Central          Ohio       6929.0          3320.0   11676341
22  East North Central      Michigan       5209.0          3142.0    9984072
49  East North Central     Wisconsin       2740.0          2167.0    5807406
14  East North Central       Indiana       3776.0          1482.0    6695497
42  East South Central     Tennessee       6139.0          1744.0    6771631
17  East South Central      Kentucky       2735.0           953.0    4461153
0   East South Central       Alabama       2570.0           864.0    4887681
24  East South Central   Mississippi       1024.0           328.0    2981020
32        Mid-Atlantic      New York      39827.0         52070.0   19530351
38        Mid-Atlantic  Pennsylvania       8163.0          5349.0   12800922
30        Mid-Atlantic    New Jersey       6048.0          3350.0    8886025
5             Mountain      Colorado       7607.0          3250.0    5691287
2             Mountain       Arizona       7259.0          2606.0    7158024
44            Mountain          Utah       1904.0           972.0    3153550
12            Mountain         Idaho       1297.0           715.0    1750536
31            Mountain    New Mexico       1949.0           602.0    2092741
28            Mountain        Nevada       7058.0           486.0    3027341
26            Mountain       Montana        983.0           422.0    1060665
50            Mountain       Wyoming        434.0           205.0     577601

## Subconjuntar  de columnas
### hay muhas formas de subconjuntar columnas de un dataframe, quisas la mas comun es usar columnas se utilizan operadores relaccionales para devolver un true o false para cada fila y luego pasarlo a corchets
 `dogs[dogs['height_cm'] > 60]`
 `dogs[dogs['color']=='tan']`

 puedes filtrar por varias condiciones a la vez utilizados el operador &
 `dogs[(dogs['height_cm'] > 60) & (dogs['color']=='tan')]`

### Istrucciones
1. filtrar homelessness para los casos en los que el numero de individuos sea superior a diez mil, asignandolos a `ind_gt_10K`. visualizar el resultado
2. filtar homelessness para los casos en llos que la region de Mountain asignado a Mountain_reg visualizar el resultado
3. filtar homelessness para que los numero de casos de family_members dea inferior a mil y la region sea 'Pacific' asignandolo a fam_lt_1K_pat

In [21]:
#1
ind_gt_10K = homelessness[homelessness['individuals'] > 10000]
print(ind_gt_10K.head(10))

                region       state  individuals  family_members  state_pop
4              Pacific  California     109008.0         20964.0   39461588
9       South Atlantic     Florida      21443.0          9587.0   21244317
32        Mid-Atlantic    New York      39827.0         52070.0   19530351
37             Pacific      Oregon      11139.0          3337.0    4181886
43  West South Central       Texas      19199.0          6111.0   28628666
47             Pacific  Washington      16424.0          5880.0    7523869

In [25]:
# 2
mountain_reg = homelessness[homelessness['region'] == 'Mountain']
mountain_reg.sort_values('region', ascending=True)
print(mountain_reg.head(10))

      region       state  individuals  family_members  state_pop
2   Mountain     Arizona       7259.0          2606.0    7158024
5   Mountain    Colorado       7607.0          3250.0    5691287
12  Mountain       Idaho       1297.0           715.0    1750536
26  Mountain     Montana        983.0           422.0    1060665
28  Mountain      Nevada       7058.0           486.0    3027341
31  Mountain  New Mexico       1949.0           602.0    2092741
44  Mountain        Utah       1904.0           972.0    3153550
50  Mountain     Wyoming        434.0           205.0     577601

In [26]:
# 3
fam_lt_1K_pat = homelessness[(homelessness['family_members'] < 1000) & (homelessness['region'] == 'Pacific')]
print(fam_lt_1K_pat.head(10))

    region   state  individuals  family_members  state_pop
1  Pacific  Alaska       1434.0           582.0     735139

## Subconjuto de filas por variables categoricas
> utiliza el metodo `isnin()` que te permitira a bordar el problema escribiendo en una sola condicion en lugar de varias , porque para secmentar variables categoricas se utilisa el valos `|` 

`color = ['brown','azul','amarillo']`
`condition = dogs ['color'].isin(colors)`
`dogs['condition']`
### Instruciones 
1. Filta `homelessness` para los casos que en los censor para los estados california, arizona, nevad y utha asignandolo a mojave_homelessness

In [27]:
# 1
canus = ['California', 'Arizona', 'Nevada', 'Utah']
mojave_homelessness = homelessness[homelessness['state'].isin(canus)]    
print(mojave_homelessness.head(10))

      region       state  individuals  family_members  state_pop
2   Mountain     Arizona       7259.0          2606.0    7158024
4    Pacific  California     109008.0         20964.0   39461588
28  Mountain      Nevada       7058.0           486.0    3027341
44  Mountain        Utah       1904.0           972.0    3153550

## A√±adir nuevas columnas
No te quedes solo con los datos que te dan. En su lugar, se pueden a√±adir nuevas columnas a un dataframe. A esto se le llama tramsformaci√≥n, mutaci√≥n e ingenier√≠a de caracter√≠sticas

Se pueden crear columnas nuevas desde 0, pero es habitual derivarlas de otras columnas, por ejemplo, sumando columnas o cambiando sus unidades.

*Instrucciones*
- A√±ade una nueva columna a homelessness denominada total, que contenga la suma de las columnas individuales y family_members

- A√±ade otra columna a homelessness, denominado p_homelessness que contenga la proporci√≥n de la poblaci√≥n de personas sin hogar total con respecto a la poblaci√≥n total de cada estado stage_pop

In [12]:
# Agregar una columna Total con la suma de individuals y family_members
homelessness['total'] = homelessness['individuals'] + homelessness['family_members']

# agregar una columna p_homelessness como proporci√≥n del total de homeless de la poblaci√≥n para el estado de la poblaci√≥n
homelessness['p_homelessness'] = homelessness['total'] / homelessness['state_pop']

homelessness.head(10)

,region,state,individuals,family_members,state_pop,total,p_homelessness
0,East South Central,Alabama,2570.0,864.0,4887681,3434.0,0.000703
1,Pacific,Alaska,1434.0,582.0,735139,2016.0,0.002742
2,Mountain,Arizona,7259.0,2606.0,7158024,9865.0,0.001378
3,West South Central,Arkansas,2280.0,432.0,3009733,2712.0,0.000901
4,Pacific,California,109008.0,20964.0,39461588,129972.0,0.003294
5,Mountain,Colorado,7607.0,3250.0,5691287,10857.0,0.001908
6,New England,Connecticut,2280.0,1696.0,3571520,3976.0,0.001113
7,South Atlantic,Delaware,708.0,374.0,965479,1082.0,0.001121
8,South Atlantic,District of Columbia,3770.0,3134.0,701547,6904.0,0.009841
9,South Atlantic,Florida,21443.0,9587.0,21244317,31030.0,0.001461

In [14]:
# imprimir que solo se muestre las columnas state, individuals, state_pop, total y p_homelessness
columnas = ['state', 'individuals', 'state_pop', 'total', 'p_homelessness']
homelessness[columnas].head(10)

                  state  individuals  state_pop     total  p_homelessness
0               Alabama       2570.0    4887681    3434.0        0.000703
1                Alaska       1434.0     735139    2016.0        0.002742
2               Arizona       7259.0    7158024    9865.0        0.001378
3              Arkansas       2280.0    3009733    2712.0        0.000901
4            California     109008.0   39461588  129972.0        0.003294
5              Colorado       7607.0    5691287   10857.0        0.001908
6           Connecticut       2280.0    3571520    3976.0        0.001113
7              Delaware        708.0     965479    1082.0        0.001121
8  District of Columbia       3770.0     701547    6904.0        0.009841
9               Florida      21443.0   21244317   31030.0        0.001461

In [15]:
homelessness[['state', 'individuals', 'state_pop', 'total', 'p_homelessness']].head(10)

                  state  individuals  state_pop     total  p_homelessness
0               Alabama       2570.0    4887681    3434.0        0.000703
1                Alaska       1434.0     735139    2016.0        0.002742
2               Arizona       7259.0    7158024    9865.0        0.001378
3              Arkansas       2280.0    3009733    2712.0        0.000901
4            California     109008.0   39461588  129972.0        0.003294
5              Colorado       7607.0    5691287   10857.0        0.001908
6           Connecticut       2280.0    3571520    3976.0        0.001113
7              Delaware        708.0     965479    1082.0        0.001121
8  District of Columbia       3770.0     701547    6904.0        0.009841
9               Florida      21443.0   21244317   31030.0        0.001461

## Practica - Combo ataque
hasta ahora se an visto los cuatro tipos mas comunes de transformacion de DataFrame, `ordenar`, `filtrar`, `subconjuntos` ,`subconjuntar  filas `y `agregar columnas`.
en un analicis de la vida real puedes mesclar y convinar estas cuatro manipulacions para responder a multiples preguntas. 

En este ejercicio reponderas la pregunta:
`¬øQue estado tiene el mayor numero de personas sin hogar por cada 10000?` Conbina las nuevas a bilidades de pandas para averiguarlo

- A√±ade una nueva columna indiv_per_10k que contenga el numero de personas sin hojar por cada 10,000 personas en cado estado , utilizando state_pop para la poblacion del estado  
- Subconjunta las filas en las que indiv_per_10k sean superior a 20 , asignandolas a high_homelessnss 
- ordena  high_homelessnss en orden decendente indiv_per_10k asignado a high_homelessnss, selecionando la columna state e indiv_per_10k de high_homelessnss y guardandolo como resul y visualizar a resul

In [17]:
# Crear la columna indiv_per_10k
homelessness['indiv_per_10k'] =  10000 * homelessness['individuals'] / homelessness['state_pop'] 

# subconjuntar las filas en las que indiv_per_10k sean superior a 20
high_homelessness = homelessness[homelessness['indiv_per_10k'] > 20]

# Ordenar high_homelessness por indiv_per_10k 
result = high_homelessness.sort_values('indiv_per_10k', ascending=False)

# Visualizar el resultado
result

,region,state,individuals,family_members,state_pop,total,p_homelessness,indiv_per_10k
8,South Atlantic,District of Columbia,3770.0,3134.0,701547,6904.0,0.009841,53.738381
11,Pacific,Hawaii,4131.0,2399.0,1420593,6530.0,0.004597,29.079406
4,Pacific,California,109008.0,20964.0,39461588,129972.0,0.003294,27.623825
37,Pacific,Oregon,11139.0,3337.0,4181886,14476.0,0.003462,26.636307
28,Mountain,Nevada,7058.0,486.0,3027341,7544.0,0.002492,23.314189
47,Pacific,Washington,16424.0,5880.0,7523869,22304.0,0.002964,21.829195
32,Mid-Atlantic,New York,39827.0,52070.0,19530351,91897.0,0.004705,20.392363

El Distrito of columbia tiene el mayor de individuos sin hohar - Casi 54 por cada 10 abitantes