# Agregating DateFrame 
En este notbook Secalcularan las estadisticas de resumen en columnas del dataFreme y dominaras las estadisticas agrupadas y tablas dinamicas (pivot table)

## Estadisticas de resumen
*media y mediana*

las estadisticas resumidas son esaxtamente lo que parecen : Recursos muchjos numero en una sola estadistica, por ejemplola media, la mediana, y la desviacion tipica(Desviacion estandar) 

### instrucciones 
Explorar el dataFrame imprimiendo las primeras filas
`walmar_sales`
- imprimir informacionde las columnas
- imprimir la media de las columnas de `weekly_sales`
- imprimir la mediana de la colunna `weekly_sales`

In [1]:
import pandas as pd

In [2]:
sales = pd.read_csv('./datasets/walmart_sales.csv')
sales.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106

In [3]:
sales.shape # tamaño del DataFrame

(6435, 8)

In [4]:
sales.info() # información del DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         6435 non-null   int64
 1   Date          6435 non-null   object
 2   Weekly_Sales  6435 non-null   float64
 3   Holiday_Flag  6435 non-null   int64
 4   Temperature   6435 non-null   float64
 5   Fuel_Price    6435 non-null   float64
 6   CPI           6435 non-null   float64
 7   Unemployment  6435 non-null   float64
dtypes: float64(5), int64(2), object(1)
memory usage: 402.3+ KB

In [5]:
sales.describe() # estadísticos descriptivos del DataFrame

,Store,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
count,6435.000000,6.435000e+03,6435.000000,6435.000000,6435.000000,6435.000000,6435.000000
mean,23.000000,1.046965e+06,0.069930,60.663782,3.358607,171.578394,7.999151
std,12.988182,5.643666e+05,0.255049,18.444933,0.459020,39.356712,1.875885
min,1.000000,2.099862e+05,0.000000,-2.060000,2.472000,126.064000,3.879000
25%,12.000000,5.533501e+05,0.000000,47.460000,2.933000,131.735000,6.891000
50%,23.000000,9.607460e+05,0.000000,62.670000,3.445000,182.616521,7.874000
75%,34.000000,1.420159e+06,0.000000,74.940000,3.735000,212.743293,8.622000
max,45.000000,3.818686e+06,1.000000,100.140000,4.468000,227.232807,14.313000

In [6]:
# sacar la media de la columna Weekly_Sales

round(sales['Weekly_Sales'].mean(), 2) # redondear a dos decimales

1046964.88

In [7]:
# mediana de la columna Weekly_Sales
sales['Weekly_Sales'].median()# redondear a dos decimales

960746.04

### Resumir fechas 

las Estadisticas sumatorias pueden calcularse sobre columnas sobre balores que tengan valores von el tipo de dato, algunas estadisticas de resumen como la media no tieene mucho sentido en la fecha

In [8]:
# sales['Date2'] = sales['Date'].astype('datetime64[ns]') # convertir la columna Date a tipo datetime

In [9]:
sales['Date'].max() # fecha máxima

'31-12-2010'

## la funcion .agg

permite3 agregar la propias funciones personalisadas al data frame 
asi como aplicar las funciones a mas de una columna a la vez , asiendo aque tus agregaciones sean muy eficientes 
`df[colum].agg(fuction)`


En la función personalizada para este ejercicio "IQR" es la abreviatura del rango intercuartilico que es el percentil 75 menos el percentil 25. Es una alternativa a la derviacion tibica (estandar) que resulta útil si tus datos contienen valores atípicos.

*Instrucciones*

1. Utiliza la función personaliza iqr definida por ti junto con el método agg() para imprimir la IQR de la columna temperature_c de sales

2. Actualiza iqr con agg() para imprimir la IQR de la columna temperature, fuel_price y unemployment, en orden.

3. Actualiza las llamadas de la funcion agg para obtener el rango iqr y la mediana en ese orden

In [10]:
import numpy as np

In [11]:
def iqr (column):
    return column.quantile( .75) - column.quantile(.25)

In [12]:
# imprimir iqr de la columna temperatura

print(f'El iqr de Temperature es: {sales ["Temperature"].agg(iqr)}')

# 2. Actualiza iqr con agg() para imprimir la IQR de la columna temperature, fuel_price y unemployment, en orden.
print(sales[['Temperature', 'Fuel_Price', 'Unemployment']].agg(iqr))

El iqr de Temperature es: 27.479999999999997
Temperature     27.480
Fuel_Price       0.802
Unemployment     1.731
dtype: float64

In [13]:
# Actualiza las llamadas de la funcion agg para obtener el rango iqr y la mediana en ese orden

print(sales[['Temperature', 'Fuel_Price', 'Unemployment']].agg([iqr, np.median]))

        Temperature  Fuel_Price  Unemployment
iqr           27.48       0.802         1.731
median        62.67       3.445         7.874

In [14]:
print(sales[['Temperature', 'Fuel_Price', 'Unemployment']].agg([iqr, 'median']))

        Temperature  Fuel_Price  Unemployment
iqr           27.48       0.802         1.731
median        62.67       3.445         7.874

In [15]:
sales[['Temperature', 'Fuel_Price', 'Unemployment']].agg([iqr, 'median', 'mean','max', 'min' ]) # imprimir iqr, mediana, media, maximo y minimo de las columnas seleccionadas

        Temperature  Fuel_Price  Unemployment
iqr       27.480000    0.802000      1.731000
median    62.670000    3.445000      7.874000
mean      60.663782    3.358607      7.999151
max      100.140000    4.468000     14.313000
min       -2.060000    2.472000      3.879000

In [16]:
def converirACentigrados(faren):
    return (faren - 32) / 1.8

In [17]:
temp_min = sales['Temperature'].min()
temp_max = sales['Temperature'].max()

In [18]:
print(f'La temperatura mínima es: {temp_min} en grados centígrados es: {converirACentigrados(temp_min)}')
print(f'la temperatura maxima es {temp_max} en grados centígrados es: {converirACentigrados(temp_max)}')

La temperatura mínima es: -2.06 en grados centígrados es: -18.922222222222224
la temperatura maxima es 100.14 en grados centígrados es: 37.855555555555554

In [19]:
sales['Temperature_Cel']


#print(sales[['Temperature']].agg(converirACentigrados))

KeyError: 'Temperature_Cel'

---

In [ ]:
import numpy as np

In [ ]:
# funcion personalisada que calcula el rango IQR

def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)

# imprimir el rango IQR de la columna Temperatura
print(sales['Temperature'].quantile(0.75))
print(sales['Temperature'].quantile(0.25))

print(sales['Temperature'].agg(iqr)) # aplicar la función iqr a la columna Temperature

print(sales['Temperature'].agg(['mean','median', 'max', 'min'])) # aplicar varias funciones a la columna Temperature

74.94
47.46
27.479999999999997
mean       60.663782
median     62.670000
max       100.140000
min        -2.060000
Name: Temperature, dtype: float64

---

## Estadísticas acumuladas

Las estadísticas acumulativas también pueden ser útiles para hacer un seguimiento de las estadísticas resumidas a lo largo del tiempo. En este ejercicio, calcularás la suma acumulada y el máximo acumulado de las ventas semanales de un departamento, lo que te permitirá identificar cuáles han sido las ventas totales hasta el momento, así como cuáles han sido las ventas semanales más elevadas hasta el momento.

**Instrucciones**

- Ordena las filas de sales_1_1 por la columna date en orden ascendente.
- Obtén la suma acumulada de weekly_sales y añádelo como una nueva columna de sales_1_1 llamada cum_weekly_sales.
- Obtén el máximo acumulado de weekly_sales, y añádelo como una columna llamada cum_max_sales.
- Imprime las columnas date, weekly_sales, cum_weekly_sales, y cum_max_sales.

In [21]:
sales_1_1 = sales[sales["Store"] == 1]  # filtrar el DataFrame para la tienda 1
# Ordenar sales_1_1 por fecha
sales_1_1 = sales_1_1.sort_values('Date')

# Optener la suma cumulativa de Weekly_Sales y añadirla como una nueva columna 
# llamada 'Cum_Weekly_Sales'
sales_1_1['Cum_Weekly_Sales'] = sales_1_1['Weekly_Sales'].cumsum()

In [22]:
sales_1_1[['Weekly_Sales', 'Cum_Weekly_Sales']]

     Weekly_Sales  Cum_Weekly_Sales
60     1495064.75      1.495065e+06
121    1624477.58      3.119542e+06
73     1488538.09      4.608080e+06
34     1453329.50      6.061410e+06
108    1688420.76      7.749831e+06
..            ...               ...
25     1371986.60      2.165614e+08
86     1394561.83      2.179559e+08
99     1497462.72      2.194534e+08
134    1582083.40      2.210355e+08
47     1367320.01      2.224028e+08

[143 rows x 2 columns]

In [23]:
sales_1_1.head()  # mostrar las primeras filas del DataFrame filtrado y ordenado

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Cum_Weekly_Sales
60,1,01-04-2011,1495064.75,0,59.17,3.524,214.837166,7.682,1495064.75
121,1,01-06-2012,1624477.58,0,77.95,3.501,221.747214,7.143,3119542.33
73,1,01-07-2011,1488538.09,0,85.55,3.524,215.184137,7.962,4608080.42
34,1,01-10-2010,1453329.50,0,71.89,2.603,211.671989,7.838,6061409.92
108,1,02-03-2012,1688420.76,0,60.96,3.630,220.848045,7.348,7749830.68

In [25]:
# Obtener el maximo de acumulativo de weekly sales y agregar cum_max_sales
sales_1_1['cum_max_sales'] = sales_1_1['Weekly_Sales'].cummax()

sales_1_1.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Cum_Weekly_Sales,cum_max_sales
60,1,01-04-2011,1495064.75,0,59.17,3.524,214.837166,7.682,1495064.75,1495064.75
121,1,01-06-2012,1624477.58,0,77.95,3.501,221.747214,7.143,3119542.33,1624477.58
73,1,01-07-2011,1488538.09,0,85.55,3.524,215.184137,7.962,4608080.42,1624477.58
34,1,01-10-2010,1453329.50,0,71.89,2.603,211.671989,7.838,6061409.92,1624477.58
108,1,02-03-2012,1688420.76,0,60.96,3.630,220.848045,7.348,7749830.68,1688420.76

In [27]:
# Mostrar las columnas calculadas 
sales_1_1[['Date', 'Weekly_Sales', 'cum_max_sales', 'Cum_Weekly_Sales']]

           Date  Weekly_Sales  cum_max_sales  Cum_Weekly_Sales
60   01-04-2011    1495064.75     1495064.75      1.495065e+06
121  01-06-2012    1624477.58     1624477.58      3.119542e+06
73   01-07-2011    1488538.09     1624477.58      4.608080e+06
34   01-10-2010    1453329.50     1624477.58      6.061410e+06
108  02-03-2012    1688420.76     1688420.76      7.749831e+06
..          ...           ...            ...               ...
25   30-07-2010    1371986.60     2387950.20      2.165614e+08
86   30-09-2011    1394561.83     2387950.20      2.179559e+08
99   30-12-2011    1497462.72     2387950.20      2.194534e+08
134  31-08-2012    1582083.40     2387950.20      2.210355e+08
47   31-12-2010    1367320.01     2387950.20      2.224028e+08

[143 rows x 4 columns]

---

# Recuento

> Eliminar duplicados es una habilidad esencial para obtener recuentos precisos, porque a menudo no quieres contar lo mismo varias veces. En este ejercicio, crearás algunos DataFrames nuevos utilizando valores únicos de sales.

**Instrucciones**

- Elimina las filas de sales con pares duplicados de store y type y guárdalas como store_types e imprime la cabecera.
- Elimina las filas de sales con pares duplicados de store y department y guárdalas como store_depts e imprime la cabecera.
- Subconjunta las filas que sean semanas de vacaciones utilizando la columna is_holiday, y elimina las dates duplicadas, guardándolas como holiday_dates.
- Selecciona la columna date de holiday_dates, e imprímela.

In [2]:
import pandas as pd
sales_sub = pd.read_csv('./datasets/sales_subset.csv')

In [29]:
sales_sub.head()  # mostrar las primeras filas del DataFrame

,Unnamed: 0,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
1,1,1,A,1,2010-03-05,21827.90,False,8.055556,0.693452,8.106
2,2,1,A,1,2010-04-02,57258.43,False,16.816667,0.718284,7.808
3,3,1,A,1,2010-05-07,17413.94,False,22.527778,0.748928,7.808
4,4,1,A,1,2010-06-04,17558.09,False,27.050000,0.714586,7.808

In [30]:
sales_sub.shape # tamaño del DataFrame

(10774, 10)

In [32]:
# Eliminar (drop) filas duplicadas de sales con pares duplicados de store y type
sales_types = sales_sub.drop_duplicates(subset=['store', 'type'])
sales_types.head()  # mostrar las primeras filas del DataFrame filtrado

,Unnamed: 0,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
901,901,2,A,1,2010-02-05,35034.06,False,4.550000,0.679451,8.324
1798,1798,4,A,1,2010-02-05,38724.42,False,6.533333,0.686319,8.623
2699,2699,6,A,1,2010-02-05,25619.00,False,4.683333,0.679451,7.259
3593,3593,10,B,1,2010-02-05,40212.84,False,12.411111,0.782478,9.765

In [33]:
# Eliminar los duplicados de store y department
store = sales_sub.drop_duplicates(subset=['store', 'department'])
store.head()  # mostrar las primeras filas del DataFrame filtrado

,Unnamed: 0,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
12,12,1,A,2,2010-02-05,50605.27,False,5.727778,0.679451,8.106
24,24,1,A,3,2010-02-05,13740.12,False,5.727778,0.679451,8.106
36,36,1,A,4,2010-02-05,39954.04,False,5.727778,0.679451,8.106
48,48,1,A,5,2010-02-05,32229.38,False,5.727778,0.679451,8.106

In [36]:
# secmentar todas las filas donde el campo is_holiday sea True y eliminar las fechas duplicadas y guardarlas como holiday_dates
holiday_dates = sales_sub[sales_sub['is_holiday'] == True].drop_duplicates(subset=['date'])

holiday_dates[['date']]  # seleccionar solo la columna date

            date
498   2010-09-10
691   2011-11-25
2315  2010-02-12
6735  2012-09-07
6810  2010-12-31
6815  2012-02-10
6820  2011-09-09

---

### Contar variables categóricas

Contar es una forma estupenda de tener una visión general de tus datos y de detectar curiosidades que de otro modo no notarías. En este ejercicio, contarás el número de cada tipo de tienda y el número de cada número de departamento utilizando los DataFrames que creaste en el ejercicio anterior:
```
# Drop duplicate store/type combinations
store_types = sales.drop_duplicates(subset=["store", "type"])

# Drop duplicate store/department combinations
store_depts = sales.drop_duplicates(subset=["store", "department"])

```
Los DataFrames store_types y store_depts que creaste en el último ejercicio están disponibles, y pandas se importa como pd.

**Instrucciones**

- Cuenta el número de tiendas de cada tienda type en store_types.
- Cuenta la proporción de tiendas de cada tienda type en store_types.
- Cuenta el número de tiendas de cada department en store_depts, ordenando los recuentos en orden descendente.
- Cuenta la proporción de tiendas de cada department en store_depts, ordenando las proporciones en orden descendente.

In [ ]:
# Eliminar los duplicados de

In [ ]:
# vamos a contar el numero de tiendas por cada departamento y ordenado
dept_cont_Sorted = sales_depts['department'].value_counts(sort=True)
dept_cont_Sorted #

In [ ]:
# Optener la proporcion de las tiendas en cada departamento y ordenarlas

---

# Estadisticas resumidas agrupadas 

















### ¿Qué porcentaje de ventas se produjo en cada tipo de tienda?

Aunque .groupby() es útil, puedes calcular estadísticas de resumen agrupadas sin él.

Walmart distingue tres tipos de tiendas: "supercentros", "tiendas de descuento" y "mercados de barrio", codificados en este conjunto de datos como tipo "A", "B" y "C". En este ejercicio, calcularás las ventas totales realizadas en cada tipo de tienda, sin utilizar .groupby(). A continuación, puedes utilizar estas cifras para ver qué proporción de las ventas totales de Walmart se realizaron en cada tipo.

sales está disponible y pandas se importa como pd.

**Instrucciones**

- Calcula el total de weekly_sales en todo el conjunto de datos.
- Subconjunto para las tiendas type "A", y calcula sus ventas semanales totales.
- Haz lo mismo en las tiendas type "B" y type "C".
- Combina los resultados A/B/C en una lista, y divídela por sales_all para obtener la proporción de ventas por tipo.

In [38]:
# Calcula el total de ventas por semana
sales_all = sales_sub['weekly_sales'].sum()
print(f'Total de ventas por semana: {sales_all}')

Total de ventas por semana: 256894718.89999998

In [40]:
# Secmentar para los tipos A y calcular el total de ventas por semana
sales_A = sales_sub[sales_sub['type'] == 'A'] ['weekly_sales'].sum()
print(f'Total de ventas por semana para el tipo A: {sales_A}')

Total de ventas por semana para el tipo A: 233716315.01

In [41]:
# Secmentar para los tipos B y calcular el total de ventas por semana
sales_B = sales_sub[sales_sub['type'] == 'B'] ['weekly_sales'].sum()
print(f'Total de ventas por semana para el tipo B: {sales_B}')

Total de ventas por semana para el tipo B: 23178403.89

In [42]:
# Secmentar para los tipos C y calcular el total de ventas por semana
sales_C = sales_sub[sales_sub['type'] == 'C'] ['weekly_sales'].sum()
print(f'Total de ventas por semana para el tipo C: {sales_C}')

Total de ventas por semana para el tipo C: 0.0

In [43]:
# Optener la proporción de cada tipo
sales_props_by_type = [sales_A, sales_B, sales_C]/ sales_all * 100
print(f'Proporción de ventas por tipo: {sales_props_by_type}')

Proporción de ventas por tipo: [90.97746969  9.02253031  0.        ]

---

### Cálculos con .groupby()

El método .groupby() te facilita mucho la vida. En este ejercicio, realizarás los mismos cálculos que la última vez, excepto que utilizarás el método .groupby(). También realizarás cálculos sobre datos agrupados por dos variables para ver si las ventas difieren por tipo de tienda dependiendo de si es una semana festiva o no.

sales está disponible y pandas se carga como pd.

**Instrucciones**

- Agrupa sales por "type", toma la suma de "weekly_sales", y almacénala como sales_by_type.
- Calcula la proporción de ventas en cada tipo de tienda dividiendo por la suma de sales_by_type. Asignar a sales_propn_by_type.
- Agrupa sales por "type" y "is_holiday", toma la suma de weekly_sales, y almacénala como sales_by_type_is_holiday.

In [ ]:


# Agrupar por tipo y calcular la media de ventas por semana
sales_by_type = sales_sub.groupby('type')['weekly_sales'].sum()
print(f'Media de ventas por semana por tipo:\n{sales_by_type}')

Media de ventas por semana por tipo:
type
A    2.337163e+08
B    2.317840e+07
Name: weekly_sales, dtype: float64

In [4]:
# Optener la proporción de cada tipo 
sales_props_by_type = sales_by_type / sales_by_type.sum() * 100
print(f'Proporción de ventas por tipo:\n{sales_props_by_type}')

Proporción de ventas por tipo:
type
A    90.97747
B     9.02253
Name: weekly_sales, dtype: float64

In [ ]:
# Agrupar por type y por is_holiday; calcular el total de ventas por semana
sales_by_type_holiday = sales_sub.groupby(['type', 'is_holiday'])['weekly_sales'].sum()
print(f'Total de ventas por semana por tipo y si es festivo:\n{sales_by_type_holiday}')

### Múltiples resúmenes agrupados

Anteriormente en este capítulo, has visto que el método .agg() es útil para calcular múltiples estadísticos sobre múltiples variables. También funciona con datos agrupados. NumPy, que se importa como np, tiene muchas funciones estadísticas de resumen diferentes, entre las que se incluyen: np.min, np.max, np.mean, y np.median.

sales está disponible y pandas se importa como pd.

**Instrucciones**

- Importa numpy con el alias np.
- Obtén el mínimo, el máximo, la media y la mediana de weekly_sales para cada tipo de tienda utilizando .groupby() y .agg(). Guárdalo como . ¡Asegúrate de utilizar las funciones de numpy!
- Obtén el mínimo, el máximo, la media y la mediana de unemployment y fuel_price_usd_per_l para cada tipo de tienda. Guárdalo como unemp_fuel_stats.

In [6]:
import numpy as np
sales_new = pd.read_csv('./datasets/sales_subset.csv')


# para cada tipo de tienda vamos hacer una agregación para weekly_sales; obtener el minimo, máximo, mediana
sales_stats = sales_new.groupby('type')['weekly_sales'].agg([np.min, np.max, np.median, np.mean])
print(f'Agregación de ventas por tipo:\n{sales_stats}')

Agregación de ventas por tipo:
        amin       amax    median          mean
type
A    -1098.0  293966.05  11943.92  23674.667242
B     -798.0  232558.51  13336.08  25696.678370

In [8]:

# para cada tipo de tienda vamos hacer una agregación para weekly_sales; obtener el minimo, máximo, mediana
sales_stats = sales_new.groupby('type')['weekly_sales'].agg(['min', 'max', 'median', 'mean'])
sales_stats

         min        max    median          mean
type
A    -1098.0  293966.05  11943.92  23674.667242
B     -798.0  232558.51  13336.08  25696.678370

In [11]:
sales_new.head()  # mostrar las primeras filas del DataFrame

,Unnamed: 0,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
1,1,1,A,1,2010-03-05,21827.90,False,8.055556,0.693452,8.106
2,2,1,A,1,2010-04-02,57258.43,False,16.816667,0.718284,7.808
3,3,1,A,1,2010-05-07,17413.94,False,22.527778,0.748928,7.808
4,4,1,A,1,2010-06-04,17558.09,False,27.050000,0.714586,7.808

In [13]:
# para cada tipo de tienda vamos hacer una agregación para los campos unemployment y fuel_price_usd_por_1: oper el minimo, máximo, mediana y mean
unem_fuel_stats = sales_new.groupby('type')[['unemployment', 'fuel_price_usd_per_l']].agg(['min', 'max', 'median', 'mean'])

unem_fuel_stats

     unemployment                         fuel_price_usd_per_l            \
              min    max median      mean                  min       max
type
A           3.879  8.992  8.067  7.972611             0.664129  1.107410
B           7.170  9.765  9.199  9.279323             0.760023  1.107674


        median      mean
type
A     0.735455  0.744619
B     0.803348  0.805858

---

## Pivot tables (Tablas Dinamicas)

### Pivotar sobre una variable

Las tablas dinámicas son la forma estándar de agregar datos en las hojas de cálculo.

En pandas, las tablas dinámicas son esencialmente otra forma de realizar cálculos agrupados. Es decir, el método .pivot_table() es una alternativa a .groupby().

En este ejercicio, realizarás cálculos utilizando .pivot_table() para reproducir los cálculos que realizaste en la lección anterior utilizando .groupby().

sales está disponible y pandas se importa como pd.

**Instrucciones**

- Obtén la media weekly_sales mediante type utilizando .pivot_table() y almacénala como mean_sales_by_type.
- Obtén la media y la mediana (utilizando funciones NumPy) de weekly_sales por type utilizando .pivot_table() y almacénalas como mean_med_sales_by_type.
- Obtén la media de weekly_sales mediante type y is_holiday mediante .pivot_table() y guárdala como mean_sales_by_type_holiday.